.button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: forestgreen;
    color: white;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
}

.buttonDeconnexion{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: forestgreen;
    color: white;
    border-radius: 5px;
    padding: 5px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.titre{
    color: darkseagreen;
    text-align: center;
    font-size: 25px;
    font-family: "Monaco",sans-serif;
    padding-top: 10px;
    padding-bottom: 8px;
}